services:
    # Helper for (un)subscribing
    mailmotor.subscriber:
        class: MailMotor\Bundle\MailMotorBundle\Helper\Subscriber
        arguments:
            - "@=service('mailmotor.factory').getSubscriberGateway()"
            - "@event_dispatcher"
            - "%mailmotor.list_id%"

    # Factories
    mailmotor.factory:
        class: MailMotor\Bundle\MailMotorBundle\Factory\MailMotorFactory
        arguments:
            - "@service_container"
            - "%mailmotor.mail_engine%"

    # Manager
    mailmotor.manager.subscriber_gateway:
        class: MailMotor\Bundle\MailMotorBundle\Manager\SubscriberGatewayManager

    # Fallback gateway when no mail-engine is selected (at default)
    mailmotor.not_implemented.subscriber.gateway:
        class: MailMotor\Bundle\MailMotorBundle\Gateway\NotImplementedSubscriberGateway
        tags:
            - { name: mailmotor.subscriber_gateway, alias: not_implemented }
